{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="photos-container" id="photos-container">
    <div>
      <img
        class="photos-inside-container"
        src="../images/footer1.jpg"
        alt=""
      />
      <img
        class="photos-inside-container"
        src="../images/footer2.jpg"
        alt=""
      />
      <img
        class="photos-inside-container"
        src="../images/footer3.jpg"
        alt=""
      />

      <img
        class="photos-inside-container"
        src="../images/footer4.jpg"
        alt=""
      />
      <img
        class="photos-inside-container"
        src="../images/footer5.jpg"
        alt=""
      />
      <img
        class="photos-inside-container"
        src="../images/footer6.jpg"
        alt=""
      />

      <img
        class="photos-inside-container"
        src="../images/footer7.webp"
        alt=""
      />
      <img
        class="photos-inside-container"
        src="../images/footer8.webp"
        alt=""
      />
      <img
        class="photos-inside-container"
        src="../images/footer9.jpg"
        alt=""
      />

      <img
        class="photos-inside-container"
        src="../images/footer10.webp"
        alt=""
      />
      <img
        class="photos-inside-container"
        src="../images/footer11.jpg"
        alt=""
      />
      <img
        class="photos-inside-container"
        src="../images/footer12.jpg"
        alt=""
      />

      <img
        class="photos-inside-container"
        src="../images/footer13.jpg"
        alt=""
      />
      <img
        class="photos-inside-container"
        src="../images/footer14.jpg"
        alt=""
      />
      <img
        class="photos-inside-container"
        src="../images/footer15.jpg"
        alt=""
      />
    </div>
  </div>
  <footer class="footer-container">
    <div class="footer-logo-and-socialmedia-container">
      <div class="footer-logo-container">
        <img src="../images/logo.png.webp" alt="" />
      </div>
      <div class="footer-socialmedia-icons-container">
        <i class="fi fi-brands-instagram footer-icons"></i>
        <i class="fi fi-brands-facebook footer-icons"></i>
        <i class="fi fi-brands-youtube footer-icons"></i>
        <i class="fi fi-brands-twitter footer-icons"></i>
      </div>
    </div>
    <div class="footer-links-and-copyrights-container">
      <div class="footer-links-container">
        <ul>
          <li href="homeUser.html">Home</li>
          <li href="features.html">Features</li>
          <li href="user_recipes.html">Receipies</li>
          <li href="Contact page.html">Contact</li>
        </ul>
      </div>
    </div>
  </footer>
{% endblock content %}






